[submodule "pii"]
	path = pii
	url = https://github.com/yamaceay/tab-anonymization.git
[submodule "dpmlm"]
	path = dpmlm
	url = https://github.com/yamaceay/dpmlm.git
[submodule "tri"]
	path = tri
	url = https://github.com/yamaceay/TRI.git
[submodule "petre"]
	path = petre
	url = https://github.com/yamaceay/petre.git
[submodule "bmark"]
	path = bmark
	url = https://github.com/yamaceay/benchmark.git
